
<div style="height:10px; overflow:hidden"></div>


<div class="title3">2014文化科技创新论坛（CTIS2014）<span style="float:right;"><a href="http://ici.szu.edu.cn/event_view.asp?id=23"> 
<img src="images/back.jpg" border="0" /></a></span></div>

<table width="920" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="381" valign="top" style="padding-right:15px">
	
	
	<div style="padding-bottom:10px"><img src="__PUBLIC__/images/201411251735321129.jpg" width="380" height="215" /></div>
	<div class="word1">
	<p>&nbsp;</p>
	</div>
	</td>
    <td width="539" valign="top" class="word1">
     
    <table width="100" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td height="34" bgcolor="#83C326" style="font-size:14px; font-weight:bold; text-align:center; color:#FFFFFF">论坛简介</td>
      </tr>
    </table>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td class="szhknews">
          
		<div><a title="论坛简介" href="enews_view" target="_blank">论坛简介</a>...<img src="__PUBLIC__/images/new.jpg" /></div>
		
		<div><a title="会议议程" href="enews_view.asp?id=200" target="_blank">会议议程</a>...<img src="__PUBLIC__/images/new.jpg" /></div>
		
            <div align="right"><a href="enews.asp?id=31" target="_blank">更多...</a></div></td>
        </tr>
      </table>
      
    <table width="100" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td height="34" bgcolor="#83C326" style="font-size:14px; font-weight:bold; text-align:center; color:#FFFFFF">论坛嘉宾</td>
      </tr>
    </table>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td class="szhknews">
          
		<div><a title="受邀嘉宾" href="enews_view.asp?id=202" target="_blank">受邀嘉宾</a>...<img src="__PUBLIC__/images/new.jpg" /></div>
		
            <div align="right"><a href="enews.asp?id=33" target="_blank">更多...</a></div></td>
        </tr>
      </table>
      
    <table width="100" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td height="34" bgcolor="#83C326" style="font-size:14px; font-weight:bold; text-align:center; color:#FFFFFF">媒体关注</td>
      </tr>
    </table>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td class="szhknews">
          
		<div><a title="【中国文化产业网】观测城市创意指标 引导文化发展潮流" href="enews_view.asp?id=240" target="_blank">【中国文化产业网】观测城市</a>...<img src="__PUBLIC__/images/new.jpg" /></div>
		
		<div><a title="【深圳晚报】多元素融合推动深圳文化产业勃兴 文化创意产业今年前三季度增长15.5%，成为经济增长主引擎之一" href="enews_view.asp?id=239" target="_blank">【深圳晚报】多元素融合推动</a>...<img src="__PUBLIC__/images/new.jpg" /></div>
		
		<div><a title="【中国文化产业网】观测城市创意指标 引导文化发展潮流" href="enews_view.asp?id=236" target="_blank">【中国文化产业网】观测城市</a>...<img src="__PUBLIC__/images/new.jpg" /></div>
		
		<div><a title="【深圳晚报】多元素融合推动深圳文化产业勃兴 文化创意产业今年前三季度增长15.5%，成为经济增长主引擎之一" href="enews_view.asp?id=235" target="_blank">【深圳晚报】多元素融合推动</a>...<img src="__PUBLIC__/images/new.jpg" /></div>
		
		<div><a title="【社会科学报】2014文化科技创新论坛在深顺利举办 海内外专家共话文化新业态培育思路" href="enews_view.asp?id=228" target="_blank">【社会科学报】2014文化</a>...<img src="__PUBLIC__/images/new.jpg" /></div>
		
            <div align="right"><a href="enews.asp?id=35" target="_blank">更多...</a></div></td>
        </tr>
      </table>
      
	</td>
  </tr>
</table>
