
<div style="height:10px; overflow:hidden"></div>


<div class="title3">蓝皮书<span style="float:right;"><a href="http://ici.szu.edu.cn/event_view.asp?id=20"> 
<img src="__PUBLIC__/images/back.jpg" border="0" /></a></span></div>

<table width="920" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="381" valign="top" style="padding-right:15px">
	
	
	<div style="padding-bottom:10px"><img src="__PUBLIC__/images/2014128144266078.jpg" width="380" height="215" /></div>
	<div class="word1">
	<p>&nbsp;</p>
	</div>
	</td>
    <td width="539" valign="top" class="word1">
     
    <table width="100" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td height="34" bgcolor="#83C326" style="font-size:14px; font-weight:bold; text-align:center; color:#FFFFFF">约稿函</td>
      </tr>
    </table>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td class="szhknews">
          
		<div><a title="《文化科技蓝皮书:文化科技创新发展报告（2015）》约 稿 函" href="enews_view.asp?id=221" target="_blank">《文化科技蓝皮书:文化科技</a>...<img src="__PUBLIC__/images/new.jpg" /></div>
		
            <div align="right"><a href="enews.asp?id=36" target="_blank">更多...</a></div></td>
        </tr>
      </table>
      
	</td>
  </tr>
</table>

