<div style="height:10px; overflow:hidden"></div>


<div class="title3">荔园文化课库分类汇总<span style="float:right;"><a href="http://ici.szu.edu.cn/edupage2.asp?id=556"> 
<img src="images/back.jpg" border="0" /></a></span></div>

<table width="920" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="244" valign="top" class="leftmenu">
    <a href="edupage2.asp?id=556">荔园课库</a><br />
    <!--<a href="news.asp?id=59">项目风采</a><br />
    <a href="edunews.asp?id=13">在线课堂</a><br />
    <a href="edunews.asp?id=14">培训动态</a>-->
	<a href="edunews.asp?id=73">研究生培养</a>
    </td>
    <td valign="top" class="word1"><p><img src="__PUBLIC__/images/keku.jpg" border="0" usemap="#Map" alt="" /> <map name="Map" id="Map">
<area shape="rect" coords="234,8,395,112" href="edupage2.asp?id=488" />
<area shape="rect" coords="23,75,181,183" href="edupage2.asp?id=490" />
<area shape="rect" coords="19,234,184,336" href="edupage2.asp?id=491" />
<area shape="rect" coords="452,80,613,184" href="edupage2.asp?id=492" />
<area shape="rect" coords="449,232,614,338" href="edupage2.asp?id=493" />
<area shape="rect" coords="227,311,401,415" href="edupage2.asp?id=489" /> </map></p></td>
  </tr>
</table>
