<div style="height:10px; overflow:hidden"></div>


<div class="title3">学术交流<span style="float:right;"><a href="http://ici.szu.edu.cn/news.asp?id=76"> 
<img src="__PUBLIC__/images/back.jpg" border="0" /></a></span></div>
<div style="min-height:400px;">
<table width="920" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="244" valign="top" class="leftmenu">
    
      <a href="news.asp?id=75">学术交流</a><br />
    
      <a href="news.asp?id=76">学术合作</a><br />
    
    </td>
    <td valign="top" class="word1">
    	
	<div class="pagebar"></div>
	
	</td>
  </tr>
</table>
</div>
