<div style="height:10px; overflow:hidden"></div>


<div class="title3">学术合作<span style="float:right;"><a href="http://ici.szu.edu.cn/news.asp?id=75"> 
<img src="__PUBLIC__/images/back.jpg" border="0" /></a></span></div>
<div style="min-height:400px;">
<table width="920" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="244" valign="top" class="leftmenu">
    
      <a href="news.asp?id=75">学术交流</a><br />
    
      <a href="news.asp?id=76">学术合作</a><br />
    
    </td>
    <td valign="top" class="word1">
    
	<table width="100%" border="0" cellspacing="0" cellpadding="0" class="tablenews">
      <tr>
        <td width="12%" class="time1">2015-06-23</td>
        <td width="88%"><a href="news_view.asp?id=3763">我院与世界城市文化论坛组织（WCCF）进行合作研究</a></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td class="word2"></td>
      </tr>
    </table>
	
	<table width="100%" border="0" cellspacing="0" cellpadding="0" class="tablenews">
      <tr>
        <td width="12%" class="time1">2015-06-23</td>
        <td width="88%"><a href="news_view.asp?id=3762">我院与澳大利亚科廷大学文化与科技研究中心合作研究成果即将出版</a></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td class="word2"></td>
      </tr>
    </table>
		
	<div class="pagebar"></div>
	
	</td>
  </tr>
</table>
</div>
