

<div style="height:10px; overflow:hidden"></div>


<div class="title3">市场营销模块<span style="float:right;"><a href="http://ici.szu.edu.cn/edupage2.asp?id=488"> 
<img src="__PUBLIC__/images/back.jpg" border="0" /></a></span></div>

<table width="920" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="244" valign="top" class="leftmenu">
        <a href="edupage2?id=1">文化创意模块</a><br />
    <a href="edupage2?id=2">市场营销模块</a><br />
    <a href="edupage2?id=3">财务金融模块</a><br />
    <a href="edupage2?id=4">战略管理模块</a><br />
<a href="edupage2?id=5">政策法律模块</a><br />
<a href="edupage2?id=6">素质提升模块</a>
    </td>
    <td valign="top" class="word1"><table border="1" cellspacing="0" bordercolor="#ffffff" cellpadding="0" style="text-align: center; line-height: 30px; font-size: 14px">
    <colgroup><col width="72" /><col width="324" /><col width="149" /></colgroup>
    <tbody>
        <tr height="40">
            <td bgcolor="#999999" height="40" width="72"><strong>模块</strong></td>
            <td bgcolor="#999999" width="324"><strong>课程名称</strong></td>
            <td bgcolor="#999999" width="149"><strong>主讲教师</strong></td>
        </tr>
        <tr>
            <td bgcolor="#999999" rowspan="30"><strong>市场营销模块</strong></td>
            <td width="324">文化产业营销攻略</td>
            <td width="149"><a href="http://ici.szu.edu.cn/teamnews_view.asp?id=581">周志民 教授</a></td>
        </tr>
        <tr>
            <td width="324">艺术市场学</td>
            <td width="149"><a href="http://ici.szu.edu.cn/teamnews_view.asp?id=579">黄永健 教授</a></td>
        </tr>
        <tr>
            <td width="324">艺术原创与产业开发</td>
            <td width="149"><a href="http://ici.szu.edu.cn/teamnews_view.asp?id=579">黄永健 教授</a></td>
        </tr>
        <tr>
            <td width="324">社交媒体营销</td>
            <td width="149">丁未 教授</td>
        </tr>
        <tr>
            <td width="324">中国书画与市场的四大动态</td>
            <td width="149"><a href="http://ici.szu.edu.cn/teamnews_view.asp?id=508">魏达志 教授</a></td>
        </tr>
        <tr>
            <td width="324">文化市场营销</td>
            <td width="149"><a href="http://ici.szu.edu.cn/teamnews_view.asp?id=578">刘世雄 副教授</a></td>
        </tr>
        <tr>
            <td width="324">文化心理与消费行为</td>
            <td width="149"><a href="http://ici.szu.edu.cn/teamnews_view.asp?id=578">刘世雄 副教授</a></td>
        </tr>
        <tr>
            <td width="324">广告策略研究</td>
            <td width="149"><a href="http://ici.szu.edu.cn/teamnews_view.asp?id=468">黄玉波 副教授</a></td>
        </tr>
        <tr>
            <td width="324">新媒体与社会化营销研究</td>
            <td width="149"><a href="http://ici.szu.edu.cn/teamnews_view.asp?id=468">黄玉波 副教授</a></td>
        </tr>
        <tr>
            <td width="324">中国传媒产业的发展</td>
            <td width="149"><a href="http://ici.szu.edu.cn/teamnews_view.asp?id=468">黄玉波 副教授</a></td>
        </tr>
        <tr>
            <td width="324">中国传媒产业研究</td>
            <td width="149"><a href="http://ici.szu.edu.cn/teamnews_view.asp?id=504">王婷 副教授</a></td>
        </tr>
        <tr>
            <td width="324">组织传播学</td>
            <td width="149"><a href="http://ici.szu.edu.cn/teamnews_view.asp?id=482">潘晓慧 副教授</a></td>
        </tr>
        <tr>
            <td width="324">数字媒体与新媒体</td>
            <td width="149"><a href="http://ici.szu.edu.cn/teamnews_view.asp?id=465">高飞 副教授</a></td>
        </tr>
        <tr>
            <td width="324">文化产业上市公司企业研究</td>
            <td width="149"><a href="http://ici.szu.edu.cn/teamnews_view.asp?id=475">马春辉 副教授</a></td>
        </tr>
        <tr>
            <td width="324">数字媒介的运营模式</td>
            <td width="149"><a href="http://ici.szu.edu.cn/teamnews_view.asp?id=475">马春辉 副教授</a></td>
        </tr>
        <tr>
            <td width="324">影视节目策划</td>
            <td width="149"><a href="http://ici.szu.edu.cn/teamnews_view.asp?id=500">何建平 副教授</a></td>
        </tr>
        <tr>
            <td width="324">影视产业</td>
            <td width="149"><a href="http://ici.szu.edu.cn/teamnews_view.asp?id=500">何建平 副教授</a></td>
        </tr>
        <tr>
            <td width="324">广播电视制片管理</td>
            <td width="149"><a href="http://ici.szu.edu.cn/teamnews_view.asp?id=478">李杨 副教授</a></td>
        </tr>
        <tr>
            <td width="324">电视节目与频道整体包装</td>
            <td width="149"><a href="http://ici.szu.edu.cn/teamnews_view.asp?id=478">李杨 副教授</a></td>
        </tr>
        <tr>
            <td width="324">京剧鼎盛时期的演出市场</td>
            <td width="149"><a href="http://ici.szu.edu.cn/teamnews_view.asp?id=575">徐晋如 博士</a></td>
        </tr>
        <tr>
            <td width="324">商务沟通</td>
            <td width="149"><a href="http://ici.szu.edu.cn/teamnews_view.asp?id=466">陈丽娜 博士</a></td>
        </tr>
        <tr>
            <td width="324">广告管理及营销</td>
            <td width="149"><a href="http://ici.szu.edu.cn/teamnews_view.asp?id=466">陈丽娜 博士</a></td>
        </tr>
        <tr>
            <td width="324">广告产业研究</td>
            <td width="149"><a href="http://ici.szu.edu.cn/teamnews_view.asp?id=466">陈丽娜 博士</a></td>
        </tr>
        <tr>
            <td width="324">纸质媒体危机下的流媒体生存</td>
            <td width="149">崔波 讲师</td>
        </tr>
        <tr>
            <td width="324">文化品牌的空间传播和拓展</td>
            <td width="149"><a href="http://ici.szu.edu.cn/teamnews_view.asp?id=470">陈振旺 讲师</a></td>
        </tr>
        <tr>
            <td width="324">数字出版理论与实践</td>
            <td width="149"><a href="http://ici.szu.edu.cn/teamnews_view.asp?id=495">张晗 讲师</a></td>
        </tr>
        <tr>
            <td width="324">&nbsp;数字出版前沿</td>
            <td width="149"><a href="http://ici.szu.edu.cn/teamnews_view.asp?id=495">张晗 讲师</a></td>
        </tr>
        <tr>
            <td width="324">数字传播与出版转型</td>
            <td width="149"><a href="http://ici.szu.edu.cn/teamnews_view.asp?id=495">张晗 讲师</a></td>
        </tr>
        <tr>
            <td width="324">二十一世纪的出版业</td>
            <td width="149"><a href="http://ici.szu.edu.cn/teamnews_view.asp?id=495">张晗 讲师</a></td>
        </tr>
        <tr>
            <td width="324">按需出版</td>
            <td width="149"><a href="http://ici.szu.edu.cn/teamnews_view.asp?id=495">张晗 讲师</a></td>
        </tr>
    </tbody>
</table></td>
  </tr>
</table>

