
<div style="height:10px; overflow:hidden"></div>


<div class="title3">专职研究员<span style="float:right;"><a href="javascript:history.go(-1)"> 
<img src="__PUBLIC__/images/back.jpg" border="0" /></a></span></div>

<table width="920" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="244" valign="top" class="leftmenu">
	<a href="teamnews_view.asp?id=540">学术委员会</a><br />
    <a href="teamnews.asp?id=53">专职研究员</a><br />
    <a href="teamnews.asp?id=23">兼职研究员</a><br />
    <a href="teamnews.asp?id=24">特约研究员</a><br />
    <a href="teamnews.asp?id=72">博后流动站</a>
    </td>
    <td valign="top" class="word1">
    <div style="width:100%; height:auto; overflow:hidden;">
    
    <div style="float:left; width:100px; height:30px; line-height:30px; text-align:center;">
        <a href="teamnews_view?id=1">李凤亮</a>
    </div>
	
    <div style="float:left; width:100px; height:30px; line-height:30px; text-align:center;">
        <a href="teamnews_view.asp?id=3628">周建新</a>
    </div>
	
    <div style="float:left; width:100px; height:30px; line-height:30px; text-align:center;">
        <a href="teamnews_view.asp?id=584">吴予敏</a>
    </div>
	
    <div style="float:left; width:100px; height:30px; line-height:30px; text-align:center;">
        <a href="teamnews_view.asp?id=583">齐凤阁</a>
    </div>
	
    <div style="float:left; width:100px; height:30px; line-height:30px; text-align:center;">
        <a href="teamnews_view.asp?id=582">钟  曦</a>
    </div>
	
    <div style="float:left; width:100px; height:30px; line-height:30px; text-align:center;">
        <a href="teamnews_view.asp?id=581">周志民</a>
    </div>
	
    <div style="float:left; width:100px; height:30px; line-height:30px; text-align:center;">
        <a href="teamnews_view.asp?id=580">刘懿萱</a>
    </div>
	
    <div style="float:left; width:100px; height:30px; line-height:30px; text-align:center;">
        <a href="teamnews_view.asp?id=592">李  平</a>
    </div>
	
    <div style="float:left; width:100px; height:30px; line-height:30px; text-align:center;">
        <a href="teamnews_view.asp?id=593">丁  未</a>
    </div>
	
    <div style="float:left; width:100px; height:30px; line-height:30px; text-align:center;">
        <a href="teamnews_view.asp?id=594">崔  波</a>
    </div>
	
    <div style="float:left; width:100px; height:30px; line-height:30px; text-align:center;">
        <a href="teamnews_view.asp?id=595"> 谷雪儿</a>
    </div>
	
    <div style="float:left; width:100px; height:30px; line-height:30px; text-align:center;">
        <a href="teamnews_view.asp?id=579">黄永健</a>
    </div>
	
    <div style="float:left; width:100px; height:30px; line-height:30px; text-align:center;">
        <a href="teamnews_view.asp?id=573">徐  磊</a>
    </div>
	
    <div style="float:left; width:100px; height:30px; line-height:30px; text-align:center;">
        <a href="teamnews_view.asp?id=578">刘世雄</a>
    </div>
	
    <div style="float:left; width:100px; height:30px; line-height:30px; text-align:center;">
        <a href="teamnews_view.asp?id=577">黄玉蓉</a>
    </div>
	
    <div style="float:left; width:100px; height:30px; line-height:30px; text-align:center;">
        <a href="teamnews_view.asp?id=574">钟雅琴</a>
    </div>
	
    <div style="float:left; width:100px; height:30px; line-height:30px; text-align:center;">
        <a href="teamnews_view.asp?id=572">秦  晴</a>
    </div>
	
    <div style="float:left; width:100px; height:30px; line-height:30px; text-align:center;">
        <a href="teamnews_view.asp?id=726">温  雯</a>
    </div>
	
    <div style="float:left; width:100px; height:30px; line-height:30px; text-align:center;">
        <a href="teamnews_view.asp?id=3618">胡鹏林</a>
    </div>
	
    </div>	
	<div class="pagebar"></div>
	
	</td>
  </tr>
</table>
