<div style="height:10px; overflow:hidden"></div>


<div class="title3">兼职研究员<span style="float:right;"><a href="javascript:history.go(-1)"> 
<img src="__PUBLIC__/images/back.jpg" border="0" /></a></span></div>

<table width="920" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="244" valign="top" class="leftmenu">
	<a href="teamnews_view.asp?id=540">学术委员会</a><br />
    <a href="teamnews.asp?id=53">专职研究员</a><br />
    <a href="teamnews.asp?id=23">兼职研究员</a><br />
    <a href="teamnews.asp?id=24">特约研究员</a><br />
    <a href="teamnews.asp?id=72">博后流动站</a>
    </td>
    <td valign="top" class="word1">
    <div style="width:100%; height:auto; overflow:hidden;">
    
    <div style="float:left; width:100px; height:30px; line-height:30px; text-align:center;">
        <a href="teamnews_view.asp?id=3796">王建磊</a>
    </div>
	
    <div style="float:left; width:100px; height:30px; line-height:30px; text-align:center;">
        <a href="teamnews_view.asp?id=3794">韦夏</a>
    </div>
	
    <div style="float:left; width:100px; height:30px; line-height:30px; text-align:center;">
        <a href="teamnews_view.asp?id=3793">王远</a>
    </div>
	
    <div style="float:left; width:100px; height:30px; line-height:30px; text-align:center;">
        <a href="teamnews_view.asp?id=3792">史旻昱</a>
    </div>
	
    <div style="float:left; width:100px; height:30px; line-height:30px; text-align:center;">
        <a href="teamnews_view.asp?id=3790">陈星宇</a>
    </div>
	
    <div style="float:left; width:100px; height:30px; line-height:30px; text-align:center;">
        <a href="teamnews_view.asp?id=3789">陈敏</a>
    </div>
	
    <div style="float:left; width:100px; height:30px; line-height:30px; text-align:center;">
        <a href="teamnews_view.asp?id=3783">张臻</a>
    </div>
	
    <div style="float:left; width:100px; height:30px; line-height:30px; text-align:center;">
        <a href="teamnews_view.asp?id=3530">黄春平</a>
    </div>
	
    <div style="float:left; width:100px; height:30px; line-height:30px; text-align:center;">
        <a href="teamnews_view.asp?id=3529">陈振旺</a>
    </div>
	
    <div style="float:left; width:100px; height:30px; line-height:30px; text-align:center;">
        <a href="teamnews_view.asp?id=3525">陈 雪</a>
    </div>
	
    <div style="float:left; width:100px; height:30px; line-height:30px; text-align:center;">
        <a href="teamnews_view.asp?id=3524">战 迪</a>
    </div>
	
    <div style="float:left; width:100px; height:30px; line-height:30px; text-align:center;">
        <a href="teamnews_view.asp?id=3523">陈义勇</a>
    </div>
	
    <div style="float:left; width:100px; height:30px; line-height:30px; text-align:center;">
        <a href="teamnews_view.asp?id=3498">彭华新</a>
    </div>
	
    <div style="float:left; width:100px; height:30px; line-height:30px; text-align:center;">
        <a href="teamnews_view.asp?id=3490">张牧</a>
    </div>
	
    <div style="float:left; width:100px; height:30px; line-height:30px; text-align:center;">
        <a href="teamnews_view.asp?id=3488">车 达</a>
    </div>
	
    <div style="float:left; width:100px; height:30px; line-height:30px; text-align:center;">
        <a href="teamnews_view.asp?id=510">田少煦</a>
    </div>
	
    <div style="float:left; width:100px; height:30px; line-height:30px; text-align:center;">
        <a href="teamnews_view.asp?id=467">崔世娟</a>
    </div>
	
    <div style="float:left; width:100px; height:30px; line-height:30px; text-align:center;">
        <a href="teamnews_view.asp?id=477">刘  琨</a>
    </div>
	
    <div style="float:left; width:100px; height:30px; line-height:30px; text-align:center;">
        <a href="teamnews_view.asp?id=507">邹平学</a>
    </div>
	
    <div style="float:left; width:100px; height:30px; line-height:30px; text-align:center;">
        <a href="teamnews_view.asp?id=506">朱谢群</a>
    </div>
	
    <div style="float:left; width:100px; height:30px; line-height:30px; text-align:center;">
        <a href="teamnews_view.asp?id=505">王秋华</a>
    </div>
	
    <div style="float:left; width:100px; height:30px; line-height:30px; text-align:center;">
        <a href="teamnews_view.asp?id=504">王  婷</a>
    </div>
	
    <div style="float:left; width:100px; height:30px; line-height:30px; text-align:center;">
        <a href="teamnews_view.asp?id=480">牛  奔</a>
    </div>
	
    <div style="float:left; width:100px; height:30px; line-height:30px; text-align:center;">
        <a href="teamnews_view.asp?id=503">金业阳</a>
    </div>
	
    <div style="float:left; width:100px; height:30px; line-height:30px; text-align:center;">
        <a href="teamnews_view.asp?id=501">王昌逵</a>
    </div>
	
    <div style="float:left; width:100px; height:30px; line-height:30px; text-align:center;">
        <a href="teamnews_view.asp?id=500">何建平</a>
    </div>
	
    <div style="float:left; width:100px; height:30px; line-height:30px; text-align:center;">
        <a href="teamnews_view.asp?id=499">孙海峰</a>
    </div>
	
    <div style="float:left; width:100px; height:30px; line-height:30px; text-align:center;">
        <a href="teamnews_view.asp?id=482">潘晓慧</a>
    </div>
	
    <div style="float:left; width:100px; height:30px; line-height:30px; text-align:center;">
        <a href="teamnews_view.asp?id=479">黄春平</a>
    </div>
	
    <div style="float:left; width:100px; height:30px; line-height:30px; text-align:center;">
        <a href="teamnews_view.asp?id=465">高  飞</a>
    </div>
	
    <div style="float:left; width:100px; height:30px; line-height:30px; text-align:center;">
        <a href="teamnews_view.asp?id=475">马春辉</a>
    </div>
	
    <div style="float:left; width:100px; height:30px; line-height:30px; text-align:center;">
        <a href="teamnews_view.asp?id=473">李  杰</a>
    </div>
	
    <div style="float:left; width:100px; height:30px; line-height:30px; text-align:center;">
        <a href="teamnews_view.asp?id=469">段  杰</a>
    </div>
	
    <div style="float:left; width:100px; height:30px; line-height:30px; text-align:center;">
        <a href="teamnews_view.asp?id=498">张  扬</a>
    </div>
	
    <div style="float:left; width:100px; height:30px; line-height:30px; text-align:center;">
        <a href="teamnews_view.asp?id=495">张  晗</a>
    </div>
	
    <div style="float:left; width:100px; height:30px; line-height:30px; text-align:center;">
        <a href="teamnews_view.asp?id=494">许    慧</a>
    </div>
	
    <div style="float:left; width:100px; height:30px; line-height:30px; text-align:center;">
        <a href="teamnews_view.asp?id=470">陈振旺</a>
    </div>
	
    </div>	
	<div class="pagebar"></div>
	
	</td>
  </tr>
</table>

