<div style="height:10px; overflow:hidden"></div>


<div class="title3">获奖信息<span style="float:right;"><a href="http://ici.szu.edu.cn/xspage.asp?id=545"> 
<img src="images/back.jpg" border="0" /></a></span></div>

<table width="920" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="244" valign="top" class="leftmenu">
    	<a href="xspage.asp?id=518">科研项目</a><br />
	<a href="xspage.asp?id=517">学术论文</a><br />
	<a href="xsnews.asp?id=9">论坛讲座</a><br />
	<a href="xspage.asp?id=545">书刊出版</a><br />
	<!--<a href="pdf_list.asp?id=1">院刊在线</a><br />-->
	<a href="xspage.asp?id=557">获奖信息</a>
    </td>
    <td valign="top" class="word1"><div>1、田少煦、李陵.广东省艺术教育科研论文一等奖.论文题：《设计教育与文化创意产业相互融通的内在机理与实践途径》.广东省教育厅，2011.12</div>
<div><br />
2、魏达志.广东省社会科学咨询报告类三等奖.课题：&quot;深港深化合作在粤港澳发展成为世界级大都会圈战略中的地位和作用&quot;.广东省社会科学咨询报告类，2011</div>
<div><br />
3、陈振旺.中国之星设计艺术大奖赛银奖.中国包装联合会设计委员会，2011.12</div>
<div><br />
4、陈振旺.中国之星设计艺术大奖赛铜奖.中国包装联合会设计委员会，2011.12</div>
<div><br />
5、陈振旺.广东省第三届大学生艺术展演艺术教育科研论文三等奖.广东省省教育厅，2011.12</div>
<div>&nbsp;</div>
<div>6、徐磊.广东省首届女书法家展优秀奖.广东省女书法家协会，2011.11&nbsp;</div></td>
  </tr>
</table>