
<div style="height:10px; overflow:hidden"></div>


<div class="title3">本院关注<span style="float:right;"><a href="javascript:history.go(-1)"> 
<img src="__PUBLIC__/images/back.jpg" border="0" /></a></span></div>
<div style="min-height:400px;">
<table width="920" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="244" valign="top" class="leftmenu">
    
      <a href="news?id=1">业界新闻</a><br />
    
      <a href="news?id=2">本院动态</a><br />
    
      <a href="news?id=3">媒体关注</a><br />
    
      <a href="news?id=4">重大项目</a><br />
    
      <a href="news?id=5">社会服务</a><br />
    
    </td>
    <td valign="top" class="word1">
    
	<table width="100%" border="0" cellspacing="0" cellpadding="0" class="tablenews">
      <tr>
        <td width="12%" class="time1">2016-07-01</td>
        <td width="88%"><a href="news_view.asp?id=4286">自媒体迎来变革期：从量变走向质变</a></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td class="word2"></td>
      </tr>
    </table>
	
	<table width="100%" border="0" cellspacing="0" cellpadding="0" class="tablenews">
      <tr>
        <td width="12%" class="time1">2016-07-01</td>
        <td width="88%"><a href="news_view.asp?id=4285">网上付钱学说话，你试过了没有？</a></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td class="word2"></td>
      </tr>
    </table>
	
	<table width="100%" border="0" cellspacing="0" cellpadding="0" class="tablenews">
      <tr>
        <td width="12%" class="time1">2016-06-24</td>
        <td width="88%"><a href="news_view.asp?id=4271">电视综艺呼唤“创客精神”</a></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td class="word2"></td>
      </tr>
    </table>
	
	<table width="100%" border="0" cellspacing="0" cellpadding="0" class="tablenews">
      <tr>
        <td width="12%" class="time1">2016-06-24</td>
        <td width="88%"><a href="news_view.asp?id=4272">聚焦搜索平台竞价排名：“李鬼”泛滥 信息陷阱害人不浅</a></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td class="word2"></td>
      </tr>
    </table>
	
	<table width="100%" border="0" cellspacing="0" cellpadding="0" class="tablenews">
      <tr>
        <td width="12%" class="time1">2016-06-24</td>
        <td width="88%"><a href="news_view.asp?id=4270">&quot;分答&quot;邀请网友录&quot;遗言&quot; 人生最后60秒你想说点啥</a></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td class="word2"></td>
      </tr>
    </table>
	
	<table width="100%" border="0" cellspacing="0" cellpadding="0" class="tablenews">
      <tr>
        <td width="12%" class="time1">2016-06-23</td>
        <td width="88%"><a href="news_view.asp?id=4275">未来5年网络入户带宽将超百兆</a></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td class="word2"></td>
      </tr>
    </table>
	
	<table width="100%" border="0" cellspacing="0" cellpadding="0" class="tablenews">
      <tr>
        <td width="12%" class="time1">2016-06-23</td>
        <td width="88%"><a href="news_view.asp?id=4274">为何“多莉”在中国游不远？</a></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td class="word2"></td>
      </tr>
    </table>
	
	<table width="100%" border="0" cellspacing="0" cellpadding="0" class="tablenews">
      <tr>
        <td width="12%" class="time1">2016-06-23</td>
        <td width="88%"><a href="news_view.asp?id=4273">“中国好声音”归属风波又添新证据</a></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td class="word2"></td>
      </tr>
    </table>
	
	<table width="100%" border="0" cellspacing="0" cellpadding="0" class="tablenews">
      <tr>
        <td width="12%" class="time1">2016-06-22</td>
        <td width="88%"><a href="news_view.asp?id=4278">国家网信办部署开展跟帖评论专项整治</a></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td class="word2"></td>
      </tr>
    </table>
	
	<table width="100%" border="0" cellspacing="0" cellpadding="0" class="tablenews">
      <tr>
        <td width="12%" class="time1">2016-06-22</td>
        <td width="88%"><a href="news_view.asp?id=4277">“互联网+”成媒体融合新引擎</a></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td class="word2"></td>
      </tr>
    </table>
		
	<div class="pagebar"><a href="">上一页</a><a href="" class="current_page">1</a><a href="">2</a><a href="">3</a><a href="">4</a><a href="">5</a><a href="">...</a><a href="">下一页</a> </div>
	
	</td>
  </tr>
</table>
</div>
